.container {
  width: 1340px;
  height: 100%;
  margin: 0 auto;
}

.main {
  width: 100%;
  height: 560px;
}

.main-content {
  width: 100%;
  height: 100%;
  background: url(../../img/Rectangle.jpg);
  background-size: cover;
}

.main-title {
  padding-top: 160px;
  padding-bottom: 95px;
  color: #FFF;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.main-nav {
  color: #FFF;
  text-align: center;
}

.main-nav:last-child {
  margin-top: 100px;
}

.main-link {
  padding: 25px 50px;
  border: 3px solid #298BDC;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 700;
  transition: background 0.5s linear;
}

.main-search-link {
  padding: 30px 60px;
  border: 3px solid #298BDC;
  border-radius: 50px;
  font-size: 28px;
  font-weight: 500;
  transition: background 0.5s linear;
}

.main-link:hover,
.main-search-link:hover {
  background: #FFF;
  box-shadow: 0 5px 10px 2px rgb(34 60 80 / 30%) inset;
  color: #333;
}

/* SEARCH-WORK
=================== */
.search-work {
  width: 100%;
  height: 74px;
}

.search-work-content {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  padding: 23px 0;
  background-color: #195F98;
}

.category {
  width: 268px;
  height: 28px;
  appearance: none;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
}

.company {
  width: 268px;
  height: 28px;
  appearance: none;
  border-radius: 50px;
  font-family: Montserrat;
  text-align: center;
}

.company:focus,
.category:focus,
.graph:focus,
.sort:focus,
.search:focus {
  outline: none;
}

.category option {
  background-color: #EEE;
  font-size: 17px;
}

.graph,
.sort,
.search {
  width: 183px;
  height: 28px;
  border: none;
  appearance: none;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
}

/* AUTH
========== */

.page-auth {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 0 auto;
}

.auth {
  width: 600px;
  height: 400px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #FFF;
  border-radius: 90px;
  box-shadow: 0 0 20px rgb(34 60 80 / 30%);
}

.footer-auth {
  height: 147px;
  background: #195F98;
  color: white;
}
