/* GROUP
================ */

.group {
  width: 100%;
  height: 609px;
}

.group-inner {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

.card__item {
  position: relative;
  width: 353px;
  height: 186px;
  border: 2px solid #DBD8D8;
  margin: 0 0 25px;
  margin-right: 189px;
  border-radius: 10px;
  transition: all 0.4s linear;
}

.card__item:hover {
  box-shadow: 0 0 20px rgb(128 128 128 / 42.5%);
  transform: scale(1.1);
}

.card__item:nth-child(3),
.card__item:nth-child(6),
.card__item:nth-child(9) {
  margin-bottom: 0;
}

.card__about {
  padding-top: 20px;
  padding-left: 40px;
}

.card__text {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
}

.card__text:last-child {
  padding-bottom: 0;
}

.card-button {
  position: absolute;
  top: 75%;
  left: 20%;
  padding: 8px 45px;
  border: none;
  background-color: #298BDC;
  border-radius: 50px;
  color: #FFF;
  font-size: 14px;
  transition: transform 0.2s linear;
}

.card__item::after {
  position: absolute;
  top: 70px;
  left: 270px;
  display: block;
  width: 70px;
  height: 70px;
  background-color: #195F98;
  border-radius: 50%;
  content: "";
}

.card-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* AUTH
========== */

.page-auth {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 0 auto;
}

.auth {
  width: 600px;
  height: 400px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #FFF;
  border-radius: 90px;
  box-shadow: 0 0 20px rgb(34 60 80 / 30%);
}

.footer-auth {
  height: 147px;
  background: #195F98;
  color: white;
}
